/* General style */
.spacer {
  flex: 1 1 auto;
}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.body {
  display: flex;
  flex-direction: column;
}

/* Styles related to weekdays and days */
.weekdays, .days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.weekdays {
  background-color: #2F74B5 !important;
  color: white;
  font-weight: 500;
}

.weekday, .day {
  text-align: center;
  padding: 5px;
}

/* Specific styles for individual days */
.day {
  text-align: left;
  vertical-align: top;
  border: 1px solid #ccc;
  height: 90px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-weight: 500;
}

/* Styles to highlight weekends */
.days .day:nth-child(7n+1),
.days .day:nth-child(7n+7) {
  color: #2F74B5;
  background-color: #F2F2F2;
}

.day {
  position: relative;
  min-height: 100px;
  padding-bottom: 30px;
}

.day ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-height: 70px;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}


.day ul::-webkit-scrollbar {
  width: 0px;
}

.day ul::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.day ul li {
  padding-top: 2px;
  padding-left: 5px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 0.9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.day ul li:last-child {
  border-bottom: none;
}


.reminder-item {
  cursor: pointer;
  position: relative;
}

.weather-icon-container {
  position: absolute;
  top: -3px;
  right: 2px;
  display: flex;
  align-items: center;
}

.weather-icon {
  width: 30px;
  height: 30px;
}

.weather-tooltip {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
